@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Koulen&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&family=Bebas+Neue&family=Koulen&family=Roboto&display=swap');
.Avideo {
    object-fit: cover;
    width: 100%;
    height: 30vh;
    left: 0;
    right: 0;
    background-color: black !important;
}

.contenta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -275%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlaya {
    position: absolute;
    background-color: #00000033;
    left: 0;
    right: 0;
    width: 100%;
    height: 30vh;
}

.maina {
    width: 100%;
}

.heada {
    font-size: 5.5rem;
    color: #0b5ed7;
    /* Set the default text color for "ABOUT" */
}

.heada span:last-child {
    color: white;
    /* Set the text color for "US" */
}

.switch {
    cursor: pointer;
}

.switch:hover {
    opacity: 90%;
    animation: pulse;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
    /* don't forget to set a duration! */
}

.cova {
    background-color: black !important;
}

.lander {
    font-family: 'Alfa Slab One', cursive;
}

.start {
    font-family: 'Archivo Black', sans-serif;
}

.begin {
    font-size: 1.2rem;
    font-family: 'Archivo Black', sans-serif;
}

.btn-primary {
    --bs-btn-bg: #2f80db !important;
    --bs-btn-hover-color: #0b5ed7 !important;
    --bs-btn-hover-bg: white !important;
}

@media (max-width: 1600px) {
    .contenta {
        transform: translate(-50%, -200%);
    }
}

@media (max-width: 1000px) {
    .heada {
        font-size: 3rem;
    }
    .start {
        font-size: 1.5rem !important;
    }
    .begin {
        font-size: 0.8rem;
    }
    .contenta {
        transform: translate(-50%, -185%);
    }
}