/* NavTab.css */

.navbar {
    background-color: #0b5ed7 !important;
    position: sticky;
    z-index: 100;
    border-bottom: 1px solid rgba(255, 255, 255, 0.526);
    ;
}

.navbar-nav {
    margin-left: -230px !important;
}

.nav-link {
    color: #ffffff;
    margin: 0 15px;
    transition: color 0.3s;
    font-size: 1.3rem;
    position: relative;
    text-decoration: none;
    z-index: 2;
    /* Remove underline */
}

.nav-link:hover {
    color: #197adb;
}

.nav-link-container {
    display: inline-block;
    position: relative;
    z-index: 1 !important;
}

.nav-link-container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 50px;
    background-color: white;
    opacity: 0;
    border-radius: 10%;
    transition: opacity 0.3s;
    pointer-events: none;
    z-index: -1;
}

.nav-link-container:hover::before {
    opacity: 1;
}

.nav-link.active::before {
    opacity: 0;
}

.navbar-collapse {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-toggler-icon {
    color: white !important;
    filter: grayscale(1) invert(1) !important;
}

.logo-image {
    width: 60px;
    /* Adjust the width as needed */
    height: auto;
    margin-left: 10px;
    /* Add spacing between text and logo */
    vertical-align: middle;
    /* Align the logo vertically with text */
    margin-top: -14px;
}

@media (max-width: 1000px) {
    .navbar-nav {
        margin-left: 0px;
    }
}