@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Koulen&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&family=Bebas+Neue&family=Koulen&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Koulen&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&family=Bebas+Neue&family=Koulen&family=Roboto&display=swap');
.frm {
    background-color: #1479ed;
    color: white;
    border-radius: 10px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.sentence {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* Add some spacing between elements for better readability */
    margin-bottom: 10px;
    /* Adjust the margin to vertically align the text with inputs */
}

.privacy {
    font-family: 'Alfa Slab One', cursive;
    font-weight: 0;
    width: 60%;
}


/* Add a class to style the input container */

.input-container {
    display: flex;
    align-items: center;
}


/* Adjust the width of the form */

form.frm {
    width: 100%;
    max-width: 450px;
    /* Adjust this value as needed */
}

.generate {
    background-color: white;
    font-weight: 600;
}

.generate:hover {
    transition: 0.2s ease-in-out;
    color: #1479ed;
    background-color: white !important;
}

.lot,
.sids {
    border-radius: 15px;
}

.resi {
    height: 240vh !important;
}

.titti {
    margin-top: 50px !important;
}

.tits {
    margin-top: 0px !important;
}

.ani {
    width: 80%;
    margin: auto;
}

@media (max-width: 1600px) {
    .titti {
        font-size: 2rem;
    }
    .lot {
        width: 60% !important;
    }
    .blur p {
        font-size: 1.2rem !important;
    }
    .tits {
        margin-top: 40px !important;
        font-size: 2rem;
    }
    .frm {
        margin-top: 10px;
    }
    .privacy {
        margin-top: 28px !important;
    }
    .bott {
        margin-top: -30px !important;
    }
}

@media (max-width: 1000px) {
    .lot {
        width: 90% !important;
    }
    .blur {
        width: 90% !important;
    }
    .ani {
        height: 300px !important;
        width: 80%;
        margin: auto;
    }
    .lot p {
        font-size: 1.5rem !important;
    }
    .blur p {
        font-size: 1.05rem !important;
    }
    .tits {
        margin-top: 40px !important;
    }
    .frm {
        margin-top: 0px;
    }
    .privacy {
        margin-top: 8px !important;
        width: 90%;
        font-size: 0.8rem;
    }
    .bott {
        margin-top: -40px !important;
    }
}