/* Mobile View */

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&family=Bebas+Neue&family=Koulen&family=Roboto&display=swap');
.expect {
    font-family: 'Archivo Black', sans-serif;
    margin-top: 100px !important;
}

.tis {
    font-family: 'Teko', sans-serif;
    font-size: 1.3rem;
}

.ct {
    font-family: 'Archivo Black', sans-serif;
}

.cardi:hover {
    background-color: rgba(255, 255, 255, 0.93) !important;
    transition: 0.2s ease-in-out;
}

@media (max-width: 1600px) {
    /* Reduce card height and push everything down */
    .cardi {
        height: 65% !important;
    }
    .holder {
        padding-top: 140px !important;
        /* Push everything down by adding padding at the top */
        padding-bottom: 0px !important;
        /* Add padding at the bottom */
    }
    .tis {
        font-size: 1.1rem;
    }
}

@media (max-width: 1000px) {
    .animateMain {
        height: 100% !important;
    }
    .holder {
        padding-bottom: 0px !important;
    }
    .holder {
        padding-top: 40px !important;
        /* Push everything down by adding padding at the top */
        padding-bottom: 0px !important;
        /* Add padding at the bottom */
    }
    .animateMain h1 {
        padding-top: 0px !important;
    }
    .expect {
        margin-top: 0px !important;
    }
    .cardi {
        height: 90% !important;
    }
}