.App {
    text-align: center;
}

::-webkit-scrollbar {
    width: 6px;
    background: #88898c;
}

::-webkit-scrollbar-thumb {
    border-radius: 2em;
    background: linear-gradient(-45deg, #11bcff, #0e40be, #0064d5, #0065d9);
}